.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(111, 111, 111, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 50px;
    width: 340px;
    height: 530px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    overflow-y: auto; 
}

.modal-header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.close-icon {
    cursor: pointer;
}

.separator {
    width: 1px;
    height: 40px; 
    background-color: #ccc; 
    margin: 0 10px; 
}

.user-session {
    font-size: 18px; 
    color: #432115; 
    
}

.close-button {
    margin-top: 20px;
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #ff3333;
}
.modal-title {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

.buy-again-button {
    background-color: #432115;
    color: rgb(8, 8, 8);
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}
.buy-again-text {
    color: #432115; 
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold; 
    margin-left: 10px; 
}

.buy-again-text:hover {
    color: #007BFF; 
}

.buy-again-button:hover {
    background-color: #45a049; 
}
.empty-cart {
    display: flex; 
    align-items: center; 
    gap: 30px; 
    justify-content: center;
    top: 100px; 
}

.empty-cart-icon {
    width: 100px; 
    height: auto; 
}

.empty-cart-text {
    text-align: center; 
    font-size: 18px; 
    color: #432115; 
}
.total-bar {
    background-color: #432115; 
    color: white; 
    padding: 3px; 
    line-height: 0.1;
    border-radius: 5 px; 
    text-align: center; 
    width: calc(100% - 10px); 
    position: relative; 
    top: -25px; 
    margin:  0 auto;
}
