/* Contenedor del menú */
.menu-container {
    padding: 20px;
    text-align: center;
    background-color:#ffebd8;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    border: 2px solid rgb(100, 134, 137);
    background-color:#553429e7;
    margin-bottom: 15px;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.menu-item h2 {
    color: white; /* Color del nombre del artículo */
}

.item-description {
    font-size: 14px;
    color: white; /* Color de la descripción */
}

.item-price {
    font-size: 14px;
    color: white; /* Color del precio */
}

/* Contenedor para la cantidad */
.quantity-controls {
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Estilo del input */
.quantity-input {
    padding: 5px;
    font-size: 14px;
    width: 60px;
    text-align: center;
}

/* Contenedor y estilo del botón "Agregar al carrito" */
.add-to-cart-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-to-cart-button {
    background-color: #4CAF50;
    color: white; /* Color de texto dentro del botón */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #45a049;
}
